<!DOCTYPE html>
<html>
    <head>
        <title>Home Index Page</title>
    </head>
    <body>
        <h1>My Home Index Page</h1>
        <p>This page will be the default landing page.</p>
    </body>
</html>