@model Customer
<h1>Edit Customer</h1>        
<div>
    <form asp-controller="CustomerPage" asp-action="Update" asp-anti-forgery="true">
        <input type="hidden" asp-for="Id"/>
        <dl>
            <dt><label asp-for="FirstName"></label>: </dt>
            <dd><input asp-for="FirstName"/></dd>
            <dt><label asp-for="LastName"></label>: </dt>
            <dd><input asp-for="LastName"/></dd>
            <dt><label asp-for="Email"></label>: </dt>
            <dd><input asp-for="Email" /></dd>
            <dd><input class="btn btn-primary" type="submit" value="Submit" /></dd>
        </dl>
    </form>
</div>